

main {
    max-width: auto;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    position: relative;
    /* width: 100%;
    height: 100vh; */
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../../img/general-img/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.card-body {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Adjust shadow values as needed */
}

.btn-close {
    
    size: 10px;
}

.btn {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.my-confirm-button-class {
    background-color: #28a745 !important;
}